<div class="d-flex">
    <div class="col-sm-5">
        <div class="card">
            <form action="">
                <div class="card-body">
                    <div class="form-group">
                        <label>Datos del Cliente:</label>
                    </div>
                    <div class="form-group d-flex">
                        <div class="col-sm-6 d-flex">
                            <input type="text" class="form-control" placeholder="Código" [(ngModel)]="cli.idCliente"
                                name="idCliente">
                            <button (click)="buscarCliente()" class="btn btn-outline-info">Buscar</button>
                        </div>
                        <div class="col-sm-2 d-flex">
                            <input type="hidden" class="form-control" [(ngModel)]="cli.codeCliente" name="codeCliente">
                        </div>
                    </div>
                    <br>
                    <div class="form-group d-flex">
                        <div class="col-sm-6">
                            <input type="text" class="form-control" placeholder="Nombre" [(ngModel)]="cli.nombreCliente"
                                name="nombreCliente" readonly>
                        </div>
                    </div>
                    <br>
                    <div class="form-group d-flex">
                        <div class="col-sm-6">
                            <input type="text" class="form-control" placeholder="Apellido"
                                [(ngModel)]="cli.apellidoCliente" name="apellidoCliente" readonly>
                        </div>
                    </div>
                    <br>
                    <div class="form-group">
                        <label>Datos del Artículo:</label>
                    </div>
                    <div class="form-group d-flex">
                        <div class="col-sm-6 d-flex">
                            <input type="text" class="form-control" placeholder="Código Barras"
                                [(ngModel)]="art.barCodeArticulo" name="barCodeArticulo">
                            <button (click)="buscarArticulo()" class="btn btn-outline-info">Buscar</button>
                        </div>
                        <div class="col-sm-2 d-flex">
                            <input type="hidden" class="form-control" [(ngModel)]="art.codeArticulo" name="codeArticulo">
                        </div>
                    </div>
                    <br>
                    <div class="form-group d-flex">
                        <div class="col-sm-6 d-flex">
                            <input type="text" class="form-control" placeholder="Nombre"
                                [(ngModel)]="art.nombreArticulo" name="nombreArticulo" readonly>
                        </div>
                    </div>
                    <br>
                    <div>
                        <div class="col-sm-3 d-flex">
                            <input type="text" class="form-control" placeholder="Precio"
                                [(ngModel)]="art.precioUnitarioArticulo" name="precioUnitarioArticulo" readonly>
                        </div>
                    </div>
                    <br>
                    <div class="form-group">
                        <button (click)="agregarArticulo()" class="btn btn-outline-info">Agregar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="col-sm-7">
        <div class="card">
            <div class="card-body">
                <div class="d-flex col-sm-5 ml-auto">
                    <label>Número Orden: </label>
                    <input type="text" class="form-control" [(ngModel)]="numeroOrden" name="numeroOrden" readonly>
                </div>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Nro</th>
                            <th>Código Barras</th>
                            <th>Descripción</th>
                            <th>Precio</th>
                            <th style="visibility:hidden;">CodigoArticulo</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let ordenArt of ordenArticulos; let i = index">
                            <td>{{i+1}}</td>
                            <td>{{ordenArt.barCodeArticulo}}</td>
                            <td>{{ordenArt.nombreArticulo}}</td>
                            <td>{{ordenArt.precioUnitarioArticulo}}</td>
                            <td style="visibility:hidden;"> {{ordenArt.codeArticulo}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="card-footer d-flex">
                <div class="col-sm-6">
                    <button (click)="crearOrden()" class="btn btn-success">Generar Orden</button>
                </div>
            </div>
        </div>
    </div>
</div>