<div class="container col-md-6">
    <div class="card">
        <div class="card-header">
            <h3>Agregar Cliente</h3>
        </div>
        <div class="card-body">
          <form action="">
            <div class="form-group"> 
                <label for="">Código: </label>
                <input type="text" class="form-control" [(ngModel)]="cli.idCliente" name="idCliente">
            </div>
            <br>
            <div class="form-group"> 
                <label for="">Nombre: </label>
                <input type="text" class="form-control" [(ngModel)]="cli.nombreCliente" name="nombreCliente">
            </div>
            <br>
            <div class="form-group"> 
                <label for="">Apellido: </label>
                <input type="text" class="form-control" [(ngModel)]="cli.apellidoCliente" name="apellidoCliente">
            </div>
            <br>
            <button (click)="crearCliente()" class="btn btn-danger">Guardar</button>
          </form>
        </div>
    </div>
</div>